<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="GoogleAdsApi"
             type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <GoogleAdsApi>
    <!-- OAuth2 configuration -->
    <add key ="DeveloperToken" value="B4Sx_iyqObs7GBqQuaqGNw" />
    <add key = 'OAuth2Mode' value = 'APPLICATION' />
    <add key = 'OAuth2ClientId' value = '352769727465-uj0kmungam7tgm7ko40a2sg4gc8h7pkd.apps.googleusercontent.com' />
    <add key = 'OAuth2ClientSecret' value = 'ShB_nUYCo9fcrKrqVlSzNJQR' />
    <add key = 'OAuth2RefreshToken' value = '1//09Xj-NSzRZ-C7CgYIARAAGAkSNwF-L9IreugUkke65ZYZY3H6c50wxb83D576C5owDCiBtmy5rn5VtApVIgOrD26AtYWygnyAPKk' />
  </GoogleAdsApi>
</configuration>